
#grid-container {
    display: grid; 
    justify-content: space-between;
    grid-template-columns: 15% 65% 15%;
    grid-template-rows: 15% 80% 5%;
 }

 @font-face {
    font-family: 'Star Jedi';
    src: url('path/to/StarJedi.ttf') format('truetype');
}
 
 /* #grid-container > div {
    background: powderblue;
    
 } */

 #grid-menu {
    grid-column: 1 / 4;
    background-color: rgba(169, 169, 169, 0.205);
 }

 #grid-right-banner {
    grid-area: auto;
    justify-content: right;
    flex-direction: row-reverse;
 }

 #grid-left-banner {
    grid-area: auto;
    justify-content: left;
    
 }

 #grid-bottom {
    grid-column: 2 / 3;
    background-color: rgba(169, 169, 169, 0.205);
 }

 #grid-middle{
    display: flex;
    grid-area: 2 / 2 /2/2;
 }

 .propaganda{
    flex: 1;
    float: right; 
    padding-top: 50px;
    padding-right: 30px;
    border-radius: 3%;
    
 }

 .right{
    display: flex;
    justify-content: flex-end;
 }

 #container {
    flex: 1;
    position: relative;
    
    background-color: gray;
    border-radius: 10%;
    padding: 6px;
 }

 .headher {
    z-index: -1;
    position: relative;
    display: flex;
    justify-content:space-between ;
    
 }

 body {
    background-color: #333; /* Dark grey */
    color: white; /* Optional: Change text color to white for better contrast */
    
}
 /* #menu {

 }
  */