
#grid-container {
    display: grid; 
    position: fixed;
    grid-template-rows:50px; /* 2 rows, each 150px tall */
    grid-template-columns: 18% 68% 18%;
    gap: 10px; /* Space between grid items */
    width: 100vw;  /* Full viewport width */ /* Set the height of the grid */
    /* border: 2px solid #333; Optional: to visualize the grid */
 }
 
 #grid-container > div {
    background: powderblue;
    
 }

 #grid-menu {
    grid-column: 1 / 4;
    background-color: rgba(169, 169, 169, 0.205);
 }

 #grid-right-banner {
    grid-area: auto;
 }

 #grid-left-banner {
    grid-area: auto;
 }

 #grid-bottom {
    grid-column: 1 / 3;
    background-color: rgba(169, 169, 169, 0.205);
 }

 #grid-middle{
    display: flex;
    grid-area: 2 / 2 /2/2;
 }

 .propaganda{
    flex: 1;
    float: right; 
    padding-top: 50px;
    padding-right: 30px;
    border-radius: 3%;
    
 }

 #container {
    flex: 1;
    position: relative;
    
    background-color: gray;
    border-radius: 10%;
    padding: 6px;
 }

 body {
    background-color: #333; /* Dark grey */
    color: white; /* Optional: Change text color to white for better contrast */
}
 /* #menu {

 }
  */